@model MoveIT.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this order?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LivingArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LivingArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BasementAtticArrea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasementAtticArrea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount) SEK
        </dd>
    </dl>

    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Back</a>
    </form>
</div>
